SITE_ADDRESS=example.com
LETSENCRYPT_EMAIL=admin@example.com
NEXT_PUBLIC_API_URL=https://example.com/api

DB_NAME=nebardak
DB_USERNAME=nebardak
DB_PASSWORD=change-this-db-password

JWT_SECRET=change-this-long-random-jwt-secret
